/* Typography */
body {
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #BFBAB4;
}

h3 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
    color: #5572D6;
    letter-spacing: 4px;
}

sup {
    vertical-align: top;
}

.price {
    font-weight: 400;
    color: #5572D6;
}

.amount {
    font-size: 3em;
    font-weight: 500;
}

/* Layout */
#price-box {
    display: inline-flex;
    padding: 2%;
}

.left-column,
.center-column,
.right-column {
    max-width: 22%;
    padding: 5%;
}

/* Mobile Layout */
@media only screen and (max-width: 900px) {
    #price-box {
        display: inline-block;
    }

    .left-column,
    .center-column,
    .right-column {
        max-width: 100%;
    }
}

/* Images */
img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    height: 75px;
}

/* Decoration */
body {
    background-color: #85A5D4;
}

#price-box {
    margin: 10%;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #708BB6;
}

.left-column:hover,
.center-column:hover,
.right-column:hover {
    background-color: #f3f3f3;
}